body{
    background-color: #c598c5;
}

h2 {
    font-size:16px ;
}

.bio-image{
    width:35% ;
    border-radius:0 50%  50% 50%;
    
   
}

.social-icons{
    position: relative;
    margin-bottom: 15px;
}
.social-icons ul{
    padding: 0px;
    list-style: none;
    
    width: 100%;
    left: 0px;
    
}

.social-icons li {
    padding-right:20px; 
   
   display: inline-block;
}
.social-icons img {
    width: 20px;
    filter: invert(1);
}

.social-icons ul li a i {
    font-size: 16px;

    

}

.main-nav{
    margin-bottom:  50px; 
}

.main-nav ul{
    list-style: none;
    padding:0px ;
}

.main-nav a{
    text-decoration: none;
color: white;
}

.main-nav li {
    padding-bottom: 10px;
}
.copyright{
    bottom: 0px;
    
}
.header{
    width: 260px;
    position: fixed;
    background-color:  #c085c0; 
    color: white;
    height: 667px;
    text-align: center;
    padding: 46px;
    float: left;
    display: block;
    z-index: 5;
    
}

#main-content{
    background-color: white;
    width:74% ;
    float: right;
    position: relative;
    display: block ;

}

.wrapper {
    display:block ;
    width:1000px ;
    margin: 0 auto;
}

#about-me{
    padding: 60px 70px;
    position: relative;    
}

#download{
    float: right;
     width: auto ;
     text-align: right;
     margin: auto ;
     background-color: turquoise;
     border-radius: 3px;
     padding: 5px 10px;
     right:0 ;
     text-decoration:none ;    
}

#download:hover{
    color: white;

}

#download img{
    filter: invert(1);
}

.header-edu{
    display: inline-flex;
    width: 100%;

}

.title{
    width:50% ;
    color: palevioletred;

}

.intro ul{
    list-style-type: none;
    padding:0 ;
}

.col-md-6.col-sm-6.col-xs-12 {
    width: 45%;
    float: left;
    padding: 0 10px;
}

.progress{
    width:100% ;
    height: 10px;
    background-color:lightgrey ;
    

}

.progress-bar1{
    
    width:0% ;
    height: 10px;
    background-color: lightseagreen;
    
}

.progress-bar2{
    width:0% ;
    height: 10px;
    background-color: lightseagreen;
}

.progress-bar3{
    width:0% ;
    height: 10px;
    background-color: lightseagreen;

}

.progress-bar4{
    width:0% ;
    height: 10px;
    background-color: lightseagreen;
}

#education{
    padding: 60px 70px;

}

#contact{
    padding: 60px 70px;
}

form{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.form{
    width: 40%;
    float: left;
    padding: 0 10px;
    margin: 0 auto;
    
   
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    height: 55px;
    display:block ;
}

textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding: 0 10px;
}

input.btn{
    width: 20%;
    background-color:#c085c0 ;
    color:white ;
    font-weight: 300;
    border-radius: 4px;
    padding: 8px 16px;
    height: 31px;
    display: block;
    line-height: 0;
}

.intro li {
    padding: 5px 0px;
}

.intro{
margin-top: 17px;
}

.header .mobile-bar{
    background-color: black;
    color: white;
    height: 60px;
    right: -59px;
    position: absolute;
    z-index: 3;
    width: 60px;
}

.header .hamburger-menu{
    position: absolute;
    top: 0;
    left: 15px;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 55px;
    cursor: pointer;
}

.header .bar{
    position: relative;
    transform: translateY(25px);
    background: white;

}

.header .bar,.header .bar:after,.header .bar:before {
    width: 30px;
    height: 3px;
}

.header .bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background: #fff;
    transition: bottom 300ms 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms cubic-bezier(0.23,1,0.32,1);
}

.header .bar:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background: #fff;
    transition: bottom 300ms 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms cubic-bezier(0.23,1,0.32,1);
}

.visible-sm{
    display: none;
}



@media only screen and (max-width: 969px) {
    .header{
        transform: translateX(-260px);
    }

    #main-content{
        width: 100%;

    }

    .visible-xs{
        display: block;
    }

    .pushed{
        transform: translateX(0);
    }

    .main-pushed {
        transform: translateX(260px);
    }
}